<!doctype html>
<html ng-app="TipicoNotesApp">
<head>
    <link rel="stylesheet" href="css/notes.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="bower_components/ng-tasty/ng-tasty-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/services.js"></script>
</head>
<body>

<div class="container">
    <div class="row"><h1>Notes</h1></div>

    <div ng-controller="notesInputController">
        <div class="row">
            <div class="col-md-2"></div>
            <form ng-submit="addNote()">
                <input type="text" ng-model="noteText" size="100" placeholder="Add new note here">
                <input class="btn-primary" type="submit" value="Send">
            </form>
            <div class="col-md-2"></div>
        </div>

        <div class="row"><br></div>

        <div class="row">
            <div data-ng-show="showAlert" ng-class="{ 'fade':doFade, 'alert alert-danger alert-dismissible' : isErrorAlert, 'alert alert-success alert-dismissible' : !isErrorAlert}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span></button>
                {{alertMessage}}
            </div>
        </div>
    </div>

    <div class="row" ng-controller="notesTableController">
        <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-theme="customTheme"
             bind-reload="reloadCallback">
            <table class="table table-hover">
                <thead tasty-thead bind-not-sort-by="notSortBy"></thead>
                <tbody>
                <tr ng-repeat="row in rows">
                    <!-- <td>{{row.id}}</td> -->
                    <td class="col-sm-2">{{row.createdDate}}</td>
                    <td>{{row.text}}</td>
                </tr>
                </tbody>
            </table>
            <div tasty-pagination bind-list-items-per-page="listItemsPerPage"></div>
        </div>

    </div>

    <hr>

</div>


</body>

</html>